
td.status
{
	font-style: italic;
}

td
{
	white-space: nowrap;
}

td.status.RUNNING
{
	color: red;
}

td.status.COMPLETE
{
	color: green;
	font-weight: bold;
}

td.status.INTERRUPTED
{
	color: #ffa500;
	font-weight: bold;
}

div.buttonbar
{
	padding-top: 5px;
}

div#loading, div#nodata
{
	font-style: italic;
	color: #ff4000;
}

#lastscan
{
	color: #ccc;
	background: transparent;
	font-style: italic;
	padding-top: 2px;
}

