html body
{
	line-height: 1.55em;
	font-family: "Lucida Grande", verdana, lucida, helvetica, sans-serif;
	background-color: #f8f8f8;
	margin: 1em;
	padding: 0;
	font-size: small;
}

html>body
{
	font-size: small;
}

div.container
{
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	height: 116px;
}

div.container .left
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 116px;
}

div.container .right
{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 116px;
}

div.container .middle
{
	background-image: url('/images/154_1_00_WIN_MD116_2C.png');
	background-repeat: repeat-x;
	height: 116px;
}

div.footer
{
	clear: both;
	padding-top: 2em;
}

table
{
	empty-cells: show;
}

table.borders, table.borders td, table.borders th
{
	border: 1px solid #669933;
	empty-cells: show;
}

table tr.odd, table td.odd, table th.odd
{
	background: #ccff99;
	color: black;
}

table tr.even, table td.even, table th.even
{
	background: #ffffcc;
	color: black;
}

table td,table th
{
	font-size: small;
}

table th
{
	font-weight: bold;
	text-align: left;
}

table.keyval th, th.key
{
	background: #ccff99;
	font-weight: bold;
	text-align: right;
	color: black;
	padding: 0.5em;
}

table.keyval td
{
	background: #ffffcc;
	color: black;
}

pre, .pre
{
        font-family: Consolas, 'Courier New', Courier, monospace;
        color: black;
        background: #f9d9b0 url('/img/prebg.png') repeat-x top;
	line-height: 1.24;
        padding: 3px 8px;
        margin: 0 5em 1em 5em;
        border-color: #f9d9b0;
        border-bottom: 1px solid #f9bc6d;
        border-top-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -khtml-border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -khtml-border-top-right-radius: 4px;

	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: break-word;
}

.shadowbox
{
	background: #ccc;
	position: relative;
	width: 60%;
	top: 2px;
	left: 2px;
}

.shadowbox div
{
	background: white;
	color: #005000;
	border: 1px solid #7a4707;
	padding: 10px;
	position: relative;
	top: -2px;
	left: -2px;
}

:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active
{
	text-decoration: none;
	color: #1e5bbd;
	background-color: transparent;
}
/*
:link:hover,
:visited:hover
{
	text-decoration: underline;
	background-color: #b4d5ff;
	color: #1559B3;
}
*/

.blood
{
	color: #ff4000;
	background: transparent;
}

.filesize
{
	color: #6a6aff;
	background: transparent;
}

.footnote
{
	color: #ff4000;
	background: transparent;
	font-size: 70%;
	font-weight: bold;
}

.blueshade
{
	background: #b9daff;
	color: black;
}

.yellowshade
{
	background: #f6ff5b;
	color: black;
}

.pinkshade
{
	background: #ffccff;
	color: black;
}

.greenshade
{
	background: #e4faa8;
	color: black;
}

.orangeshade
{
	background: #ffeeaa;
	color: black;
}

img.progress
{
	background: transparent url(/img/percentback.png) top left no-repeat;
	padding: 0;
	margin: 0;
	background-position: 1px 0;
}

.va
{
	vertical-align: middle;
}

.block
{
	display: block;
}

input.text
{
	padding: .4em;
}

.highlight
{
	background-color: yellow;
}

