
table.tablesorter .header {
	background-image: url(/img/tsort/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}

table.tablesorter .headerSortUp {
	background-image: url(/img/tsort/asc.png);
	background-repeat: no-repeat;
}

table.tablesorter .headerSortDown {
	background-image: url(/img/tsort/desc.png);
	background-repeat: no-repeat;
}
