
.va
{
	vertical-align: middle;
}

.hidden
{
	display: none;
}

div.status
{
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
	display: none;
	width: 100%;
	background: blue;
	color: white;
}

.blood
{
	color: #ff4000;
	background: transparent;
}

li.stick
{
	display: block;
}

li.sticky
{
	position: absolute;
	top: 0;
}

