
div.tvdbseries
{
	border-top: 1px solid;
	padding-top: 4px;
	vertical-align: middle;
}

div.tvdbsynopsis
{
	font-style: italic;
	margin: 0 2em;
}

img.tvdbbanner
{
	height: 30px;
	vertical-align: middle;
}

img.tvdbbannertop
{
	height: 60px;
	vertical-align: middle;
}

img.tvdblogo
{
	vertical-align: middle;
	height: 25px;
}

