button.half { width: 48%; }

table.button td
{
	text-align: center;
	vertical-align: top;
}

img.button
{
	height: 80px;
	padding: 0 2em;
	border: 0;
	outline: none;
	border: none;
}

span.label
{
	font-weight: bold;
}

#saferesult, #rmaresult, #resetresult, #maintresult
{
	font-style: italic;
	color: #ff4000;
}

.versions
{
	float: none;
	clear: none;
}

