
div.buttonrow
{
	float: left;
	clear: left;
	margin-top: 3px;
}

div.clipbuttons
{
	margin-top: 3px;
}

div.cliplist span
{
	display: block;
}

img.qb
{
	height: 14px;
	position: relative;
	top: 3px;
}

#diriconset
{
	font-style: italic;
	font-size: 0.7em;
	color: #ff4000;
}

